<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>文件列表</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/index.css?39">
    <script src="/static/js/libs.js?34"></script>
    <script src="/static/js/file_upload.js?9"></script>
    <script src="/static/js/file_push.js?19"></script>
    <script src="/static/js/file_show.js?16"></script>
</head>

<body>

    <div id="content"></div>


    <!-- 弹出推送文件窗口 -->
    <div id="popupPushWindow" class="popup" style="display:none;">
        <div class="popup-content">
            <div id="popupTitle" class="popupTitle"><span id="fileName"></span></div>
            <select id="deviceSelect">
                <option value="">请选择设备</option>
                {% for info in device_list %}
                <option value="{{ info.fingerprint }}">{{ info.alias }}</option>
                {% endfor %}
            </select>

            <button id="pushFileButton" class="button">推送</button>
            <progress id="pushProgress" class="progress" value="0" max="0" style="display: none;"></progress>
            <div id="pushMessage" class="popupMessage"></div>
            <!-- <div id="dropArea">拖放文件到这里</div> -->
            <button id="closePushWindow" class="closePopup">&times;</button>
        </div>
    </div>

    <!-- 弹出上传文件窗口 -->
    <label class="upload-button" id="uploadFileButton">上传</label>
    <div id="popupUploadWindow" class="popup" style="display:none;">
        <div class="popup-content">
            <div class="popupTitle">上传文件到服务器</div>
            <div id="dropArea" class="dropArea">拖放文件到这里或者点击这里</div>
            <progress id="uploadProgress" class="progress" value="0" max="0" style="display: none;"></progress>
            <button id="closeUploadWindow" class="closePopup">&times;</button>
            <input type="file" id="fileUpload" style="display:none;" multiple>
            <div id="uploadMessage" class="popupMessage"></div>
        </div>
    </div>

    <div id="popupImageWindow" class="popup" style="display:none;">
        <div class="popup-content">
            <video id="fileVideo" width="100%" height="240" controls style="display:none;">
            </video>
            <img id="fileImage" src="" style="width:50%; display:none;">
            <textarea id="fileText" name="message" rows="4" cols="50" style="display:none;">
            </textarea>
            <button id="updateFileTextButton" class="button" style="display:none;">更新</button>
            <button id="closeImageWindowButton" class="closePopup">&times;</button>
        </div>
    </div>

    <!-- <div id="loadingWindow" class="loading-window" >
        <div class="spinner"></div>
    </div> -->
    <input type="hidden" value="" id="fileId"></input>

    <script>
        window.onload = function () {
            window.pusher = new FilePusher('ws://' + document.location.host + '/ws');
            window.uploader = new FileUploader();
            window.shower = new FileShower();
        };

        function loadContent(type,page) {
            fetch('/list/'+type+"?page="+page).then(function (response) {
                return response.text();
            }).then(function (text) {
                document.getElementById("content").innerHTML = text;
            });
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            loadContent("",1);
        });
        
        function switchTab(event, type) {
            var tabButtons = document.getElementsByClassName("tab-button");
            for (var i = 0; i < tabButtons.length; i++) {
                tabButtons[i].classList.remove("active");
            }
            event.target.classList.add("active");
            loadContent(type,1);
        }
        
    </script>
</body>

</html>