<div id="tabs">
    <button class="tab-button {% if type=='' %} active {% endif %}" onclick="switchTab(event, '')">全部</button>
    <button class="tab-button {% if type=='images' %} active {% endif %}"
        onclick="switchTab(event, 'images')">图片</button>
    <button class="tab-button {% if type=='documents' %} active {% endif %}"
        onclick="switchTab(event, 'documents')">文档</button>
    <button class="tab-button {% if type=='videos' %} active {% endif %}"
        onclick="switchTab(event, 'videos')">视频</button>
</div>

<div id="fileList">
    {% for f in pagination %}
    <div class="file-item">
        <span class="file-name">{{ f.name }}</span>

        {{ f.size | filesizeformat }} {{ time.strftime("%Y-%m-%d",
        time.localtime(f.created)) }}

        {% if f.is_image() %}
        <span class="file-download"><i class="bi bi-card-image"
                onclick="shower.openImageWindow('/file/{{ f.id }}/name/{{ f.name }}')"></i></span>

        {% elif f.is_video() %}
        <span class="file-download"><i class="bi bi-play-circle-fill"
                onclick="shower.openVideoWindow('/file/{{ f.id }}/name/{{ f.name }}')"></i></span>

        {% elif f.is_text() %}
        <span class="file-download"><i class="bi bi-journal-code"
                onclick="shower.openTextWindow('{{ f.id }}','{{ f.name }}')"></i></span>

        {% else %}
        <a href="/file/{{ f.id }}/name/{{ f.name }}" download class="file-download" alt="下载"><i
                class="bi bi-cloud-arrow-down-fill"></i></a>
        {% endif %}
        <span onclick="pusher.openPushFileWindow('{{ f.id }}','{{ f.name }}',{{ f.size }})" class="file-download"
            alt="推送"><i class="bi bi-send" alt="推送"></i></span>

        <a href="{{ SHARE_HOST }}/share/{{ f.id }}" class="file-download" target="_blank" ><i class="bi bi-share"></i></a>

    </div>
    {% endfor %}
    <!-- 更多文件项... -->
</div>

<div id="pagination">
    <a onclick="loadContent('{{ type }}',{{ pagination.get_up_page() }})" class="page-link">上一页</a>
    {% for i in pagination.get_pagination_bar() %}
    {% if pagination.is_current_page(i) %}
        <span class="current-page">{{ i }}</span>
    {% else %}
        <a href="#" onclick="loadContent('{{ type }}',{{ i }})" class="page-link">{{ i }}</a>
    {% endif %}
    {% endfor %}
    <!-- 可以添加更多的页面链接 -->
    <a onclick="loadContent('{{ type }}',{{ pagination.get_next_page() }})" class="page-link">下一页</a>
</div>